{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
    <form method="POST" action="/search">
        {% csrf_token%}
        <tr>
            <td><input name="name"></td>
            <td><button type="submit">Search</button></td>
        </tr>
    </form>

    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Date</th>
    </tr>

    {% for i in grocery %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.status}}</td>
        <td>{{i.date}}</td>
        <td>
            <a href="edit/{{ i.id }}">Edit</a>
        </td>
        <td>
            <a href="delete/{{ i.id }}">Delete</a>
        </td>
    </tr>
    {% endfor%}
</table>

{% endblock %}